<div class="container">
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <div class="header">
                    Kampanyalar
                </div>
            </div>
        </div>

        <div class="row gx-5">
            <div class="col-4">
                <img src="/assets/images/campaigns-1.png" alt="">
            </div>
            <div class="col-4">
                <img src="/assets/images/campaigns-2.png" alt="">
            </div>
            <div class="col-4">
                <img src="/assets/images/campaigns-3.png" alt="">
            </div>
        </div>

        <div class="row" style="margin-top: 3rem;">
            <div class="col text-center">
                <button type="button" class="btn btn-success button-1">Tümünü Gör</button>
                <button type="button" class="btn btn-success button-2">
                    <img src="/assets/images/campaigns-right-arrow.png" alt="">
                </button>
            </div>
        </div>
    </div>
</div>