<div class="container h-100 flex-center">
    <div class="col" style="margin-top: -45px;">
        <div class="row" style="position: relative;">
            <div class="col text-center">
                <div class="header">
                    Sizin İçin Seçtiklerimiz
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-4">
                <div class="card">
                    <img class="cursor-pointer" src="assets/images/our-picks-1.png" alt="">
                    <div class="card-desciption-rectangle flex-center">
                        Sezon Ürünleri
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="cursor-pointer" src="assets/images/our-picks-2.png" alt="">
                    <div class="card-desciption-rectangle flex-center">
                        Fresh Ürünler
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="cursor-pointer" src="assets/images/our-picks-3.png" alt="">
                    <div class="card-desciption-rectangle flex-center">
                        İçecekler
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>