<div class="container w-100 h-100 flex-center">
    <div class="header">
        <span>GREYFOOD Alışveriş Süreci</span>
    </div>
    <div class="col w-100">
        <div class="row w-100">
            <div class="col icon">
                <div class="circle">
                    <img class="cursor-pointer" src="assets/images/steps-icon-1.png" alt="">
                </div>
                <div class="icon-description flex-center">
                    <div>
                        <p class="m-0">Ürünü</p>
                        <p>Sepete Ekle</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <img class="arrow" src="assets/images/steps-arrow.png" alt="">
            </div>
            <div class="col icon">
                <div class="circle">
                    <img class="cursor-pointer" src="assets/images/steps-icon-2.png" alt="">
                </div>
                <div class="icon-description flex-center">
                    <div>
                        <p class="m-0">Konteyner</p>
                        <p>Tipini Seç</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <img class="arrow" src="assets/images/steps-arrow.png" alt="">
            </div>
            <div class="col icon">
                <div class="circle">
                    <img class="cursor-pointer steps-icon-2-arrow" src="assets/images/steps-icon-2-arrow.png" alt="">
                    <img class="cursor-pointer" src="assets/images/steps-icon-2.png" alt="">
                </div>
                <div class="icon-description flex-center">
                    <div>
                        <p class="m-0">Konteynere Biraz</p>
                        <p>Daha Ürün Ekle</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <img class="arrow" src="assets/images/steps-arrow.png" alt="">
            </div>
            <div class="col icon">
                <div class="circle">
                    <img class="cursor-pointer" src="assets/images/steps-icon-3.png" alt="">
                </div>
                <div class="icon-description flex-center">
                    <div>
                        <p class="m-0">Ek Hizmet</p>
                        <p>Seçimi Yap</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <img class="arrow" src="assets/images/steps-arrow.png" alt="">
            </div>
            <div class="col icon">
                <div class="circle">
                    <img class="cursor-pointer" src="assets/images/steps-icon-4.png" alt="">
                </div>
                <div class="icon-description flex-center">
                    <div>
                        <p class="m-0">Alışveriş İsteğini</p>
                        <p>Gönder</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <img class="arrow" src="assets/images/steps-arrow.png" alt="">
            </div>
            <div class="col icon">
                <div class="circle">
                    <img class="cursor-pointer" src="assets/images/steps-icon-5.png" alt="">
                </div>
                <div class="icon-description flex-center">
                    <div>
                        <p class="m-0">Sizinle İletişime</p>
                        <p>Geçelim</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>