<div class="container h-100">
    <div class="col h-100">
        <div class="row h-100">
            <div class="col-6"></div>
            <div class="col-6" style="align-self: center;padding-left: 40px;">
                <div class="row" style="margin-bottom: 6rem;">
                    <div class="col">
                        <img class="mr-3 cursor-pointer" src="assets/images/appstore.png" alt="appstore">
                        <img class="mr-3 cursor-pointer" src="assets/images/googleplay.png" alt="googleplay">
                        <img class="cursor-pointer" src="assets/images/appgallery.png" alt="appgallery">

                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <span class="header">Dünya Markaları Cebinizde!</span>
                    </div>
                </div>

                <div class="row mb-4" style="max-width: 30rem;">
                    <div class="col">
                        <span class="description">Mobil uygulamamızı indirin, her yerden kolay alışveriş imkanı
                            sağlayın.</span>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <span class="description">QR Kodu okut uygulamayı hemen indir!</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="assets/images/app-qr.png" alt="appqr">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>