<div class="container h-100">
    <div class="col">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <ul>
                            <li>Greyfood</li>
                            <li>Kurumsal</li>
                            <li>Blog</li>
                            <li>Katalog</li>
                            <li>İletişim</li>
                        </ul>
                    </div>
                    <div class="col-5">
                        <ul>
                            <li>Yardım</li>
                            <li>Teslimat Bilgileri</li>
                            <li>Gizlilik ve Güvenlik</li>
                            <li>Sıkça Sorulan Sorular</li>
                            <li>İptal ve İade Koşulları</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="row">
                    <div class="col">
                        <img src="/assets/images/logo.png" alt="logo">
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col">
                        <img class="mr-3" src="/assets/images/facebook.png" alt="facebook">
                        <img class="mr-3" src="/assets/images/twitter.png" alt="twitter">
                        <img class="mr-3" src="/assets/images/instagram.png" alt="instagram">
                        <img class="mr-3" src="/assets/images/linkedin.png" alt="linkedin">
                    </div>
                </div>

                <div class="row" style="margin-top: 4rem;">
                    <div class="col">
                        <img class="mr-3" src="/assets/images/call-us.png" alt="linkedin">
                    </div>
                </div>

            </div>
            <div class="col-4 text-right">
                <div class="row mb-2">
                    <div class="col">
                        <img src="/assets/images/appstore.png" alt="appstore">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <img src="/assets/images/googleplay.png" alt="googleplay">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <img src="/assets/images/appgallery.png" alt="appgallery">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>