<div class="container h-100">
    <div class="col">
        <div class="row gx-5">
            <div class="col-3 text-center">
                <div class="card">
                    <div class="outer-circle">
                        <div class="inner-circle">
                            <img src="assets/images/icon-1.png" alt="">
                        </div>
                    </div>

                    <div class="header">
                        30’dan Fazla Marka
                    </div>

                    <div class="description">
                        Greyfood aracılığı ile prestijli markalar raflarınızda yerini alsın!
                    </div>
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="card">
                    <div class="outer-circle">
                        <div class="inner-circle">
                            <img src="assets/images/icon-3.png" alt="">
                        </div>
                    </div>
                    <div class="header">
                        Avantajlı Fiyatlar
                    </div>
                    <div class="description">
                        Dünya markalarının en iyi ürünleri kaliteli ve avantajlı fiyatlarla raflarınızda!
                    </div>
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="card">
                    <div class="outer-circle">
                        <div class="inner-circle">
                            <img src="assets/images/icon-4.png" alt="">
                        </div>
                    </div>
                    <div class="header">
                        Profesyonel Dağıtım
                    </div>
                    <div class="description">
                        Ürünlerimizi araçlara sıgdığı kadar degil, üreticinin kapasitesi kadar sunuyoruz.
                    </div>
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="card">
                    <div class="outer-circle">
                        <div class="inner-circle">
                            <img src="assets/images/icon-2.png" alt="">
                        </div>
                    </div>
                    <div class="header">
                        7/24 Destek
                    </div>
                    <div class="description">
                        Satış öncesi ve sonrası tüm süreçlerde, kişisel müşteri desteği sağlıyoruz!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>