<div class="container h-100">
    <div class="col">
        <div class="row">
            <div class="col-4 text-left text-green-1 fw-bold">
                KVKK <span class="mx-2">|</span> Mesafeli Satış Sözleşmesi <span class="mx-2">|</span> Üyelik Sözleşmesi
            </div>
            <div class="col-4 text-center copyright-text">
                © Copyright Greyfood
            </div>
            <div class="col-4 text-right">
                <img src="assets/images/masterpass.png" alt="masterpass" class="mr-4">
                <img src="assets/images/paypal.png" alt="paypal" class="mr-4">
                <img src="assets/images/deutchebank.png" alt="deutchebank">
            </div>
        </div>
    </div>
</div>